################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightFinder.API/.vs
/FlightFinder.API/FlightFinder.API/obj
/FlightFinder.API/FlightFinder.API/bin/Debug/net8.0
