################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightFinder.API/.vs
/FlightFinder.API/FlightFinder.API/obj
/FlightFinder.API/FlightFinder.API/bin/Debug/net8.0
/FlightFinder.Web/bin/Debug/net8.0
/FlightFinder.Web/obj/Debug/net8.0/ref
/FlightFinder.Web/obj/Debug/net8.0/refint/FlightFinder.Web.dll
/FlightFinder.Web/obj/Debug/net8.0/scopedcss
/FlightFinder.Web/obj/Debug/net8.0/staticwebassets
/FlightFinder.Web/obj/Debug/net8.0/apphost.exe
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.AssemblyInfo.cs
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.AssemblyInfoInputs.cache
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.csproj.CoreCompileInputs.cache
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.csproj.FileListAbsolute.txt
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.dll
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.genruntimeconfig.cache
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.MvcApplicationPartsAssemblyInfo.cache
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.pdb
/FlightFinder.Web/obj/Debug/net8.0/FlightFinder.Web.sourcelink.json
/FlightFinder.Web/obj/Debug/net8.0/project.razor.vs.bin
/FlightFinder.Web/obj/Debug/net8.0/staticwebassets.build.json
/FlightFinder.Web/obj/Debug/net8.0
/FlightFinder.Web/obj/Debug/net8.0/staticwebassets.development.json
/FlightFinder.Web/obj/Debug/net8.0/staticwebassets.pack.json
